<%= search_form_for @scope, builder: CustomFormBuilder, url: url, method: :get, class: 'w-full' do |form| %>
  <div class="relative flex flex-row mb-4">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </div>
    <%= form.text_field :full_search, value: params.dig(:q, :full_search), type: 'search', class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-accent focus:border-accent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-accent dark:focus:border-accent" %>
    <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-accent-500 hover:bg-accent-600 focus:ring-4 focus:outline-none focus:ring-accent-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-accent-600 dark:hover:bg-accent-700 dark:focus:ring-accent-800">Search</button>
  </div>
  <div id="filters-collapse" data-accordion="filters-collapse">
    <h2 id="filters-collapse-heading" class="md:hidden">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border border-gray-200 rounded-xl dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#filters-collapse-body" aria-expanded="true" aria-controls="filters-collapse-body">
        <span><%= I18n.t('forms.filters.title') %></span>
        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </h2>
    <div id="filters-collapse-body" class="mt-2 hidden md:visible grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 auto-rows-fr gap-4 p-5 font-light border border-gray-200 dark:border-gray-700 dark:bg-gray-900 md:rounded-xl rounded-t-xl">
      <%= form.ransack_multi_select :brand_in, car_brands_for_select, default_values: Array.wrap(params.dig(:q, :brand_in)), select_label: I18n.t('activerecord.attributes.car.brand') %>
      <%= form.ransack_multi_select :engine_type_in, car_engine_types_for_select, default_values: Array.wrap(params.dig(:q, :engine_type_in)), select_label: I18n.t('activerecord.attributes.car.engine_type') %>
      <%= form.ransack_multi_select :body_configuration_in, car_body_configuration_types_for_select, default_values: Array.wrap(params.dig(:q, :body_configuration_in)), select_label: I18n.t('activerecord.attributes.car.body_configuration') %>
      <%= form.ransack_multi_select :transmission_in, car_transmission_types_for_select, default_values: Array.wrap(params.dig(:q, :transmission_in)), select_label: I18n.t('activerecord.attributes.car.transmission') %>
      <%= form.ransack_multi_select :s, car_sortables_for_select, default_values: Array.wrap(params.dig(:q, :s)), select_label: I18n.t('forms.cars.sorting.title') %>
    </div>
  </div>
<% end %>
