<%= form_with url: rodauth(:admin).change_password_path, method: :post, data: { turbo: false }, class: "w-full max-w-sm" do |form| %>
  <% if rodauth(:admin).change_password_requires_password? %>
    <div class="mb-6">
      <%= form.label "password", rodauth(:admin).password_label, class: "block text-sm font-semibold" %>
      <%= form.password_field rodauth(:admin).password_param, value: "", id: "password", autocomplete: rodauth(:admin).password_field_autocomplete_value, required: true, class: "mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth(:admin).field_error(rodauth(:admin).password_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400" : "border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" }", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth(:admin).field_error(rodauth(:admin).password_param)) %>
      <%= content_tag(:span, rodauth(:admin).field_error(rodauth(:admin).password_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "password_error_message") if rodauth(:admin).field_error(rodauth(:admin).password_param) %>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label "new-password", rodauth(:admin).new_password_label, class: "block text-sm font-semibold" %>
    <%= form.password_field rodauth(:admin).new_password_param, value: "", id: "new-password", autocomplete: "new-password", required: true, class: "mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth(:admin).field_error(rodauth(:admin).new_password_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400" : "border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" }", aria: ({ invalid: true, describedby: "new-password_error_message" } if rodauth(:admin).field_error(rodauth(:admin).new_password_param)) %>
    <%= content_tag(:span, rodauth(:admin).field_error(rodauth(:admin).new_password_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "new-password_error_message") if rodauth(:admin).field_error(rodauth(:admin).new_password_param) %>
  </div>

  <% if rodauth(:admin).require_password_confirmation? %>
    <div class="mb-6">
      <%= form.label "password-confirm", rodauth(:admin).password_confirm_label, class: "block text-sm font-semibold" %>
      <%= form.password_field rodauth(:admin).password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth(:admin).field_error(rodauth(:admin).password_confirm_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400" : "border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" }", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth(:admin).field_error(rodauth(:admin).password_confirm_param)) %>
      <%= content_tag(:span, rodauth(:admin).field_error(rodauth(:admin).password_confirm_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "password-confirm_error_message") if rodauth(:admin).field_error(rodauth(:admin).password_confirm_param) %>
    </div>
  <% end %>

  <%= form.submit rodauth(:admin).change_password_button, class: "w-full px-8 py-3 cursor-pointer font-semibold text-sm rounded-md text-white bg-accent hover:bg-accent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:text-gray-900 dark:focus:ring-emerald-400 dark:focus:ring-offset-current" %>
<% end %>
