<%= turbo_stream.append "cars" do %>
  <% if @cars.any? %>
    <%= render partial: 'landing/common/car_card', collection: @cars, as: :car %>
  <% else %>
    <span><%= I18n.t('no_content') %></span>
  <% end %>
  <% if @pagy.next.present? %>
    <%= turbo_stream.replace "pagination" do %>
      <%= turbo_frame_tag "pagination", src: landing_cars_turbo_pagination_path(page: @pagy.next), loading: :lazy %>
    <% end %>
  <% end %>
<% end %>
