<% car = @car %>
<div class="md:container md:m-auto flex flex-row justify-center items-center p-4">
  <% entity_title @car.full_name %>
  <div class="p-4 md:border md:border-solid md:border-gray-300 md:rounded-lg w-full md:w-[48rem] flex flex-col items-center bg-white">
    <div class="rounded-t-lg p-4">
      <%= render partial: 'common/cars/car/carousel', locals: { car: car, image_size_h_class: 'h-[15em]', image_size_w_class: 'w-[30em]', show_modal: true } %>
    </div>
    <div class="p-6 w-full">
      <h5 class="text-gray-900 text-xl font-medium mb-2">
        <%= I18n.t("cars.brands.#{car.brand}") %>
        <%= car.name %>
      </h5>
      <p class="text-gray-700 text-base mb-4">
      <ul>
        <li>
          <%= Car.human_attribute_name(:price_in_eur) %> :
          <%= car.price_in_eur %> EUR
        </li>
        <li>
          <%= Car.human_attribute_name(:deposit) %> :
          <%= car.deposit %> EUR
        </li>
        <li>
          <%= Car.human_attribute_name(:engine_type) %> :
          <%= I18n.t("cars.engine_types.#{car.engine_type}") %>
        </li>
        <li>
          <%= Car.human_attribute_name(:transmission) %> :
          <%= I18n.t("cars.transmission_types.#{car.transmission}") %>
        </li>
        <li>
          <%= Car.human_attribute_name(:gas_consumption_range) %> :
          <%= car.gas_consumption_range.begin %> - <%= car.gas_consumption_range.end %> L
        </li>

        <% if car.description? %>
          <li>
            <span><%= Car.human_attribute_name(:description) %>:</span>
            <div class="prose prose-sm mt-2 break-words">
              <%= car.description.try(:html_safe) %>
            </div>
          </li>
        <% end %>

        <div class="flex flex-row items-center mt-4">
          <% if car.youtube_link? %>
            <li>
              <%= link_to I18n.t('landing.home.youtube_link'), car.youtube_link, class: 'text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900' %>
            </li>
          <% end %>
        </div>
      </ul>
      </p>
    </div>
  </div>
</div>
