<%= form_with model: @car, id: dom_id(@car), builder: CustomFormBuilder, multipart: true, url: @car.new_record? ? admin_dashboard_cars_path : admin_dashboard_car_path(@car) do |f| %>
  <div class="flex flex-col w-2/3 justify-center m-auto h-full gap-y-4">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.error_messages_for :name %>

    <%= f.label :deposit %>
    <%= f.number_field :deposit %>
    <%= f.error_messages_for :deposit %>

    <%= f.label :horsepower %>
    <%= f.number_field :horsepower %>
    <%= f.error_messages_for :horsepower %>

    <%= f.label :price_in_eur %>
    <%= f.number_field :price_in_eur %>
    <%= f.error_messages_for :price_in_eur %>

    <%= f.label :release_date %>
    <%= f.select :release_date, (Date.today - 23.years).year..Date.today.year %>

    <%= f.label :brand %>
    <%= f.select :brand, car_brands_for_select %>

    <%= f.label :engine_type %>
    <%= f.select :engine_type, car_engine_types_for_select %>

    <%= f.label :transmission %>
    <%= f.select :transmission, car_transmission_types_for_select %>

    <%= f.label :youtube_link %>
    <%= f.text_field :youtube_link %>
    <%= f.error_messages_for :youtube_link %>

    <%= f.label :body_configuration %>
    <%= f.select :body_configuration, car_body_configuration_types_for_select %>

    <%= f.label :gas_consumption_range %>
    <div class="flex flex-row gap-x-4">
      <%= f.num_range_field :gas_consumption_range %>
    </div>
    <%= f.error_messages_for :gas_consumption_range %>

    <%= car_images_upload_input(@car) %>

    <%= signal_react_rerender %>


    <%= render partial: 'admin/dashboard/cars/form_buttons' %>
  </div>
<% end %>