<!DOCTYPE html>
<html>
<head>
  <title>RentACarV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag "application" %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="h-screen">
<%= render partial: '/flash' %>
<%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
